
.container {
  width: 100%;
  height: 64px;
  padding:  12px 0;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.left__nav {
    display: flex;
    align-items: center;
    --tw-scale-x: 75%;
    --tw-scale-y: 75%;
    --tw-scale-z: 75%;
    scale: var(--tw-scale-x)var(--tw-scale-y)
}

.left__nav p {
   font-size: 14px;
   line-height: 16px;
   letter-spacing: -2%;
   font-weight: 600;
   padding: 8px 16px; 
   margin-right: 8px;
}

.intro__img {
    scale: 1.1;
}

.code__btn {
    margin: 0 16px;
    padding: 8px 16px;
    background-color: #1A1B1C;
    color: #FCFCFC;
    scale: 0.8;
    font-size: 10px;
    font-weight: 600;
    line-height: 16px;
    height: 36px;
    border: none;
}

@media (max-width: 768px) {
  .nav--summary {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
  }
}